<h2 class="text-center font-bold text-2xl"><%=game.turn ? "Color's turn! (#{game.color_player.username})" : "White's turn! (#{game.white_player.username})" %></h2>
<% if game.game_over %>
  <h3 class="text-center font-bold text-4xl">Game over!! <%=game.winner.username%> wins!!!</h3>
<%elsif game.check%>
  <h3 class="text-center font-bold text-4xl">Check!! You must get your king out of danger!</h3>
<% end %>
<div class="grid grid-cols-8 w-max gap-2 chess-board">
  <%game.squares.includes(piece: :user).board_order.each do |square|%>
    <div class="border-2 w-32 h-32 text-center chess-square <%=square.urgent ? "bg-red-600" : ""%>" id="<%=square.coordinate%>">
      <%=square.visual_coordinate%> <br>
      <% if square.piece %>
        <% if game.game_over %>
          <i class="fas fa-chess-<%=square.piece.type.downcase%> text-4xl <%=square.piece.color? ? "text-neutral-900" : "text-neutral-50 white-piece" %>"></i>
        <% else %>
          <%= link_to edit_piece_path(square.piece), class:"pointer-events-none user-#{square.piece.user&.id}-piece" do %>
            <i class="fas fa-chess-<%=square.piece.type.downcase%> text-4xl <%=square.piece.color? ? "text-neutral-900" : "text-neutral-50 white-piece" %>"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
Taken pieces:
<%game.taken_pieces.each do |p|%>
  <i class="fas fa-chess-<%=p.type.downcase%> text-4xl <%=p.color? ? "text-neutral-900" : "text-neutral-50 white-piece" %>"></i>
<% end %>
