 <%= turbo_frame_tag id="turbo-modal",class:"w-full h-full" do %>
  <section class="w-full h-full backdrop-brightness-50 pointer-events-auto backdrop-blur-md fadeIn">
    <div class="bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg overflow-y-auto h-max px-5 py-1">
      <div class="flex justify-end p-2">
        <%= link_to '', data: { controller: "reset-form", action: "click->reset-form#reset", turbo_frame: "_top"} do %>
          <i class="fas fa-times hover:bg-neutral-300 p-1 hover:rounded-lg"></i>
        <% end %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h3 class="text-xl font-medium text-gray-900">Log in to play Chess!</h3>
        <div class="field">
          <%= f.label :username, class:"text-sm font-medium text-gray-900 block" %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-rose-500 focus:border-rose-500 block w-full p-2.5", placeholder:"username" %>
        </div>
        <div class="field mb-2">
          <%= f.label :password, class:"text-sm font-medium text-gray-900 block" %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"••••••••", class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-rose-500 focus:border-rose-500 block w-full p-2.5  mb-5" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center h-5">
            <%= f.check_box :remember_me, class:"bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-rose-300 h-4 w-4 rounded"%>
            <%= f.label :remember_me, class:"font-medium text-gray-900" %>
          </div>
        <% end %>
        <div class="actions my-3">
          <%= f.submit "Log in", class:"w-full text-white bg-rose-700 hover:bg-rose-800 focus:ring-4",data: { controller: "reset-form", action: "click->reset-form#reset", turbo_frame: "_top"} %>
        </div>
        <div class="text-sm font-medium text-gray-500">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
