<!DOCTYPE html>
<html>
  <head>
    <title>MultiplayerChess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/03edaf5be8.js" crossorigin="anonymous"></script>
    <style>
      <%if user_signed_in?%>
      /*Current user's DMs turn blue & align right side*/
      <%=".user-#{current_user.id}-piece"%>{pointer-events: auto;}
      <%=".u-#{current_user.id}-button-box"%>
        {display: flex;
         flex-wrap: wrap;
         justify-content: space-between;}
      <%=".u-#{current_user.id}-buttons"%>
          {display: block;}
      <%=".user-#{current_user.id}-message"%>
          {   text-align: right;
          background-color: #3b82f6;
          margin-left: auto; }
      <% end %>
    </style>
  </head>
  <body class="bg-slate-300">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="container mx-auto mt-8 flex center content-center justify-center">
      <%= yield %>
    </main>
  </body>
</html>
